/* Estilo tabs HTML */
.tabsCont{
    width: 90%;
    max-width: 120em;
    padding:1em;
}
.tabsCont .ul{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style:none;
}
.tabsCont .li{
    padding: 1em;
    margin:0 2em 0 0;
    transition: all .5s ease;
    cursor: pointer;
}
.tabsCont .li.activo{
    background-color: lightskyblue;
    color:white;
    list-style:none;
}
.tabsCont .tabsSubcont{
    min-height: 10vh;
    position: relative;
}
.tabsCont .bloque{
    margin:1em;
    padding: 1em;
    position: absolute;
    top:2em;
    opacity: 0;
    transition: all .5s ease;
}
.tabsCont .bloque.activo{
    opacity: 1;
    margin-top: 6rem;
}

/* Estilos de botones, inputs y textos */
.inputNombre, .inputPrecio {
    margin: .2rem;
    border-color: rgb(14, 97, 35);
    background-color: rgb(230, 233, 233);
    border-radius: 5px;
}

.btn.btn-secondary{
    margin: 0.2rem;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.añadeProd{
    text-align: center;
}
.drops{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.resultado{
    border-style: solid;
    border-color: darkgreen;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}
#btnAñadir{
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}
#btnCotizar{
    display: block;
    margin: auto;
}

.productos{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bold;
}
.tabla{
    margin-bottom: 2rem;
}
