/* Estilo tabs HTML */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.tabsCont{
    width: 600px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    overflow: hidden;
}

.pestañas{
    display: flex;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.pestaña{
    flex-grow: 1;
    text-align: center;
    line-height: 50px;
    border: solid 1px rgba(4, 51, 78, .6);
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.pestaña-activa{
    background: var(--bg-active);
    border-bottom: 1px solid rgba(7, 63, 95, .4);
    background-color: rgb(14, 97, 35);
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.tabsSubcont{
    width: 100%;
    height: 85%;

}

.bloque{
    width: 100%;
    height: 100%;
    color: black;
    display: none;
}

.bloque-activo{
    background: var(--bg-active);
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

/* Estilos de botones, inputs y textos */
.inputNombre, .inputPrecio {
    margin: .2rem;
    border-color: rgb(14, 97, 35);
    border-radius: 5px;
}

.btn.btn-secondary{
    margin: 0.2rem;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.añadeProd{
    text-align: center;
}
.resultado{
    border-style: solid;
    border-color: darkgreen;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}
#btnAñadir{
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}
#btnCotizar{
    display: block;
    margin: auto;
}
.producto{
    line-height: 5px;
    padding-bottom: 1.5rem;
}
.productos{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bold;
}
.tabla{
    margin-bottom: 2rem;
}
